<div class="container">
  <div class="d-flex flex-dir-col align-center">
    <div class="d-flex above-form">
      <div>User Form</div>
      <div><button routerLink="/user/user-list" class="btn"> Back to List</button></div>
    </div>
    <div class="form-style">
      <form *ngIf='detailForm' [formGroup]="detailForm" (ngSubmit)="onSubmit()">
        <fieldset class="temp">
          <legend>User Form</legend>
          <div>
            <label for="fname">First Name</label>
            <div><input type="text" id="fname" name="firstname" placeholder="Enter First Name" formControlName="fname"></div>
            <div *ngIf="f['fname'].touched && f['fname'].errors?.['required']">This Field is Required</div>
          </div>
          <div>
            <label for="lname">Last Name</label>
            <div><input type="text" id="lname" name="lastname" placeholder="Enter Last Name" formControlName="lname"></div>
            <div *ngIf="f['lname'].touched && f['lname'].errors?.['required']">This Field is Required</div>
          </div>
          <div>
            <label for="mail">Email Address</label>
            <div><input type="email" id="mail" placeholder="Enter Email Address" formControlName="email"></div>
            <div *ngIf="f['email'].touched && f['email'].errors?.['required']">This Field is Required</div>
          </div>
          <div>
            <label for="phone">Phone Number</label>
            <div><input type="string" id="phone" name="phonenumber" placeholder="Enter Phone Number" formControlName="phone"></div>
            <div *ngIf="f['phone'].touched && f['phone'].errors?.['required']">This Field is Required</div>
            <div *ngIf="f['phone'].errors?.['minlength'] || f['phone'].errors?.['maxlength']">length should be 10 digit</div>
          </div>
          <div>
            <label for="gender">Gender</label>
            <input type="radio" id="male" name="gender" value="Male" formControlName="gender">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="FeMale" formControlName="gender">
            <label for="female">Female</label>
          </div>
          <div>
            <label for="bdate">Date of Employement</label>
            <input type="date" id="date" name="date" formControlName="date">
            <div *ngIf="f['date'].touched && f['date'].errors?.['required']">This Field is Required</div>
          </div>
          <div>
            <label for="department">Department:</label>
            <select name="department" id="department" formControlName="deparment">
              <option *ngFor="let dep of department" [value]="dep.id">{{dep.dname}}</option>
            </select>
          </div>
          <div>
            <button type="submit" [disabled]="!detailForm.valid">Submit</button>
            <button type="reset"(click)="resetForm()">Reset</button>
          </div>    
        </fieldset>
      </form>
    </div>
  </div>
</div>