<form *ngIf='detailForm' [formGroup]="detailForm" (ngSubmit)="onSubmit()">

    <label for="fname">First name:</label>
    <input type="text" id="fname" name="firstname" formControlName="fname"><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lastname" formControlName="lname"><br>
    <label for="mail">Email address</label>
    <input type="email" id="mail" placeholder="Enter email" formControlName="email"><br>
    <label for="gender">GENDER:</label>
    <input type="radio" id="gender" name="genderradio" value="Male" formControlName="gender">
    <label for="gender">Male</label>
    <input type="radio" id="gender" name="genderradio" value="FeMale" formControlName="gender">
    <label for="gender">Female</label>
    <label for="bdate">Date:</label>
    <input type="date" id="date" name="date" formControlName="date"><br>
    <label for="phone">Date:</label>
    <input type="number" id="phone" name="phonenumber" formControlName="phone"><br>
    <button type="submit">Submit</button>
    <button type="reset"(click)="resetForm()">Reset</button>
</form>