<label for="user-search">Search by Name: </label>
	
<input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
<button routerLink="../user-form"> Add User</button>

<table *ngIf = "(userList | serachByName:searchText) as result">
    <tr>
        <th>Id</th>
        <th>NAME</th>
        <th>GENDER</th>
        <th>EMAIL</th>
        <th>Date of Employement</th>
        <th>Department</th>
        <th>PHONE</th>
        <th>ACTION</th>
    </tr>
    <tr *ngFor="let user of userList | serachByName:searchText as result; let i=index">
        <td *ngIf="result.length===0">no result</td>
        <td>{{i + 1}}</td>
        <td>{{user.fname + " " + user.lname}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.email}}</td>
        <td>{{user.date}}</td>
        <td>{{user.deparment | depPipe:departmentArray}}</td>
        <td>{{user.phone}}</td>
        <td><button (click)="deleteUser(user.id)">Delete</button>
            <button (click)="navigateToEdit(user.id)">Edit</button>
            
        </td>
    </tr>
</table>
<!-- <div  *ngIf="result.length == 0 ">
    no result
</div> -->