<div class="container">
    <div class="d-flex flex-dir-col">
        <div>
            <span>User Table</span>
        </div>
        <div class="d-flex justify-between above-table align-center">
            <div>
                <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchUser" placeholder="Search">
            </div>
            <div>
                <button class="btn btn-add" routerLink="../user-form"> <span> + Add User</span></button>
            </div>
        </div>
        <div class="table-style d-flex">
            <table>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Electronic Mail</th>
                    <th>Date of Employement</th>
                    <th>Department</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let user of userList | serachByName:searchText; let i=index">
                    <td *ngIf="boolstore">no result</td>
                    <td>{{i + 1}}</td>
                    <td>{{user.fname + " " + user.lname}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.date}}</td>
                    <td>{{user.deparment | depPipe:departmentArray}}</td>
                    <td>{{user.phone}}</td>
                    <td><button class="btn btn-action btn-red" (click)="deleteUser(user.id)">Delete</button>
                        <button class="btn btn-action btn-green" (click)="navigateToEdit(user.id)">Edit</button>
                        
                    </td>
                </tr>
            </table>
            
        </div>
    </div>    
</div>