.container {
	width: 100%;
	padding: 20px;
}
table {
	width: 100%;
	border : 1px solid #F0F0F2;
	border-radius: 5px;
	border-spacing: 0 ;
	border-collapse: separate;
	background-color: white;
}
td {
	border-top: 1px solid #F0F0F2;
	line-height: 3rem;
	padding: 0 10px;
	font-weight: 300;
}
th {
	padding: 0 10px;
	line-height: 2.25rem;
	text-align: left;
	font-size: .75rem;
	font-weight: 100;
} 


.d-flex {
	display: flex;
}
.flex-dir-col {
	flex-direction: column;
}
.justify-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}
.above-table {
	padding: 25px 0;
	width: 100%;
}
.above-table div {
	flex-shrink: 0;
}
.table-style {
	width: 100%;
	flex-shrink: 0;
	align-self: center;
}
.btn {
	border-style: none;
	border: 1px solid #F0F0F2;
	color: black;
	background-color: white;
	cursor: pointer;
	border-radius: 10px;
}
.btn-add {
	padding: 15px;
	flex-shrink: 0;
}
.btn-action {
	padding: 10px;
	color: white;
}
.btn-red {
	background-color: #d49b9b;
	margin-right:5px;
}
.btn-green {
	background-color: #a2daa2;
}
#searchTextId {
	width: 500px;
	height: 40px;
	border-radius: 10px;
	border-style: none;
	border: 1px solid #F0F0F2;
	text-indent: 20px;
}