.container {
    width: 100%;
    background-color: white;
    padding: 10px;
    border: 1px solid #F0F0F2;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.button-position {
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
}
.formstyle {
    width: 100%;
}
.formstyle div {
    width: 25%;
    padding: 5px;
}
.formstyle div div {
    width: 100%;
    padding: 5px;
}
input[type=text], input[type=email], select {
    width: 100%;
    height: 2rem;
    border: 1px solid #F0F0F2;
    text-indent: 5px;
}
.btn {
    padding: 5px 45px;
    color: white;
    border-style: none;
    border-radius: 4px;
    margin: 5px;
}
.btn-cancel {
    background-color: #171f46;
}
.btn-save {
    background-color: #2f6bff;
}