<section >
    <nav class="nav-1">
        <ul>
            <li><a routerLink="user" routerLinkActive="active"><i class='bx bxl-meta' ></i><span>User Form</span></a></li>
            <li><a routerLink="resume" routerLinkActive="active"><i class='bx bxl-meta' ></i><span>Resume Builder</span></a></li>
            <li><a routerLink="users" routerLinkActive="active"><i class='bx bxl-meta' ></i><span>Assessment One</span></a></li>
            <li><a href=""> <i class='bx bxl-meta' ></i><span>Customers</span></a></li>
            <li><a href=""> <i class='bx bxl-meta' ></i><span>Reports</span></a></li>
        </ul>
    </nav>
</section>