<!-- <div class="d-flex flex-dir-col ">
    <ul>
        <li><button><a routerLink="user">user</a></button></li>
        <li><button><a routerLink="resume">resume</a></button></li>
    </ul>
</div> -->
<section class="flex-sidebar">

    <div class="polka">
        <a  class="d-flex align-item-center" href="#">
            <span class="icon icon-polka"></span>
            <span>POLKA</span>
        </a>
    </div>
    
    <nav class="flex-two-nav">
        <div class="nav">
            <ul>
                <li >
                    <a class="d-flex align-item-center" routerLink="user">
                        <span class="icon icon-meeting"></span>
                        <span>USER</span>
                    </a></li>
                <li>
                    <a class="d-flex align-item-center" routerLink="resume">
                        <span class="icon icon-calendar"></span>
                        <span>RESUME</span>
                    </a>
                </li>
                <li>
                    <a class="d-flex align-item-center" href="#">
                        <span class="icon icon-calender"></span>
                        <span>to the mars</span>
                    </a>
                </li>
            </ul>    
        </div>
    </nav>
    
</section>