.home {
    border-bottom: 2px solid #f8f8fa;
    height: 50px;
    padding: 1rem;
}
.nav-1 {
    border-bottom: 2px solid #f8f8fa;
    padding: 1rem;
}
.nav-1 ul {
    list-style-type: none;
}
a {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: black;
    font-weight: 300;
}
a:hover {
    color: #97A7DA;
    border-radius: 5px;
    background-color: #eaedfc; 
}